<div class="card">
    <img src="../../../../assets/images/icons/word-map.svg">
    <div class="data">
        <div class="emblem">
            <img src="../../../../assets/images/icons/qr-card.png">
            <img src="../../../../assets/images/icons/semnal.png">
        </div>
        <pre>1234  1234  1234  1234</pre>
        <p class="name">AR Jonson</p>
        <div class="details">
            <div class="info">
                <div>
                    <p class="title">Expiry Date</p>
                    <p>Date</p>
                </div>
                <div>
                    <p class="title">CVV</p>
                    <p>{{serie}}</p>
                </div>
            </div>

            <div style="text-align: center;">
                <img src="../.././../../assets/images/visa.png">
                <p>Mastercard</p>
            </div>
        </div>
    </div>
</div>