<div class="outer">
    <div class="center" *ngIf="!activeIntro">
        <img src="../assets/images/emblem.png" height="80" width="80">
        <h2>BANKPIKC</h2>
    </div>
    <div class="steps" *ngIf="activeIntro">
        <div style="height: 312px;">
            <img [src]="steps[currentStep].imagePath">
        </div>
        <div class="steper">
            <div class="dot" [ngClass]="{ 'active': steps[currentStep].numberStep === 1 }"></div>
            <div class="dot" [ngClass]="{ 'active': steps[currentStep].numberStep === 2 }"></div>
            <div class="dot" [ngClass]="{ 'active': steps[currentStep].numberStep === 3}"></div>
        </div>
        <div class="text">
            <h3>{{steps[currentStep].title}}</h3>
            <p>{{steps[currentStep].description}}</p>
        </div>
        <app-button-custom (click)="nextStep()" [text]="'Next'"></app-button-custom>
    </div>
</div>